[Unit]
Description=SmartKey UHK-style remapping
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/usr/local/bin/uberkb '{KBD_NAME}'

[Install]
WantedBy=multi-user.target
